.about-container {
    text-align: center;
    padding: 0 1.5rem;
}

.about-img {
    margin-top: 32px;
    width: 90%;
    height: auto;
}

.about-tittle {
    color: var(--gray);
    font-size: 2rem;
    font-family: var(--main-font);
    margin-top: 2rem;
}

.about-description {
    color: var(--gray);
    font-family: var(--main-font);
    font-size: 1.1rem;
    margin-top: 2rem;
    line-height: 2rem;
}

.list-map {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 1.25rem;
}

.list-map__item {
    align-items: center;
    display: flex;
    font-family: var(--main-font);
    font-size: 1.25rem;
    font-weight: 500;
    list-style: none;
}

.list-map__subtittle {
    margin-left: 1rem;
}

.list-map__fig1 {
    width: 2rem;
    height: 2rem;
    background: #0E7DF1;
    
}

.list-map__fig2 {
    width: 2rem;
    height: 2rem;
    background: #FE016E;
}

.list-map__fig3 {
    width: 2rem;
    height: 2rem;
    background: #01A89E;
}

.list-map__fig4 {
    width: 2rem;
    height: 2rem;
    background: #3F51B5;
}

.accessible-icon.material-icons {
    background: #0f38a1;
    color: var(--white);
    font-size: 2rem;
    height: 2rem;
    padding: auto;
    text-align: center;
    width: 2rem;
}
