/*home*/
.home-banner-container {
    height: 16.875rem;
    background-image: url(../assets/welcome-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    overflow: hidden;
}

.banner-home {
    color: var(--gray);
    font-size: 2rem;
    font-family: var(--second-font);
    width: 100%;
    text-align: center;
}


/*xp*/
.xp-banner-container {
    height: 16.875rem;
    background-image: url(../assets/summer8.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    overflow: hidden; 
}

.banner-xp {
    color: var(--gray);
    font-size: 2rem;
    font-family: var(--second-font);
    text-align: center;
    width: 100%;
}


/*map*/
.sector-banner-container {
    height: 16.875rem;
    background-image: url(../assets/setoresBanner.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    overflow: hidden; 
}

.banner-map {
    color: var(--gray);
    font-size: 2rem;
    font-family: var(--second-font);
    text-align: center;
    width: 100%;
}

/*info*/
.info-banner-container {
    height: 16.875rem;
    background-image: url(../assets/infoGeralBanner.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    overflow: hidden; 
}

.banner-info {
    color: var(--gray);
    font-size: 2rem;
    font-family: var(--second-font);
    text-align: center;
    width: 100%;
}


/*ingresso*/
.ingresso-banner-container {
    height: 16.875rem;
    background-image: url(../assets/ingressoBanner.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    overflow: hidden; 
}

.banner-ingresso {
    color: var(--gray);
    font-size: 2rem;
    font-family: var(--second-font);
    text-align: center;
    width: 100%;
}


/*confirma ingresso*/
.confirma-ingresso-banner-container {
    height: 16.875rem;
    background-image: url(../assets/confirmaIngresso.jpeg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    overflow: hidden; 
}

.banner-confirma-ingresso {
    color: var(--gray);
    font-size: 2rem;
    font-family: var(--second-font);
    text-align: center;
    width: 100%;
}
