/*home*/
.home-banner-container {
    align-items: center;
    display: flex;
    height: 16.875rem;
    justify-content: center;
    object-fit: cover;
    overflow: hidden;
    position: relative;
}

.home-banner-container::before {
    background-image: url(../assets/welcome-img.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    content: "";
    inset: 0;
    opacity: .5;
    position: absolute;
    z-index: -1;
}

.banner-home {
    color: var(--gray);
    font-size: 2rem;
    font-family: var(--second-font);
    width: 100%;
    text-align: center;
}


/*xp*/
.xp-banner-container {
    align-items: center;
    display: flex;
    height: 16.875rem;
    justify-content: center;
    object-fit: cover;
    overflow: hidden;
    position: relative;
}

.xp-banner-container::before {
    background-image: url(../assets/summer8.jpeg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    content: "";
    inset: 0;
    opacity: .5;
    position: absolute;
    z-index: -1;
}

.banner-xp {
    color: var(--gray);
    font-size: 2rem;
    font-family: var(--second-font);
    text-align: center;
    width: 100%;
}


/*map*/
.sector-banner-container {
    align-items: center;
    display: flex;
    height: 16.875rem;
    justify-content: center;
    object-fit: cover;
    overflow: hidden;
    position: relative;
}

.sector-banner-container::before {
    background-image: url(../assets/setoresBanner.jpeg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    content: "";
    inset: 0;
    opacity: .5;
    position: absolute;
    z-index: -1;
}

.banner-map {
    color: var(--gray);
    font-size: 2rem;
    font-family: var(--second-font);
    text-align: center;
    width: 100%;
}

/*info*/
.info-banner-container {
    align-items: center;
    display: flex;
    height: 16.875rem;
    justify-content: center;
    object-fit: cover;
    overflow: hidden;
    position: relative;
}

.info-banner-container::before {
    background-image: url(../assets/infoGeralBanner.jpeg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    content: "";
    inset: 0;
    opacity: .5;
    position: absolute;
    z-index: -1;
}

.banner-info {
    color: var(--gray);
    font-size: 2rem;
    font-family: var(--second-font);
    text-align: center;
    width: 100%;
}


/*ingresso*/
.ingresso-banner-container {
    align-items: center;
    display: flex;
    height: 16.875rem;
    justify-content: center;
    object-fit: cover;
    overflow: hidden;
    position: relative;
}

.ingresso-banner-container::before {
    background-image: url(../assets/ingressoBanner.jpeg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    content: "";
    inset: 0;
    opacity: .5;
    position: absolute;
    z-index: -1;
}

.banner-ingresso {
    color: var(--gray);
    font-size: 2rem;
    font-family: var(--second-font);
    text-align: center;
    width: 100%;
}


/*confirma ingresso*/
.confirma-ingresso-banner-container {
    align-items: center;
    display: flex;
    height: 16.875rem;
    justify-content: center;
    object-fit: cover;
    overflow: hidden;
    position: relative;
}

.confirma-ingresso-banner-container::before {
    background-image: url(../assets/confirmaIngresso.jpeg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    content: "";
    inset: 0;
    opacity: .5;
    position: absolute;
    z-index: -1;
}

.banner-confirma-ingresso {
    color: var(--gray);
    font-size: 2rem;
    font-family: var(--second-font);
    text-align: center;
    width: 100%;
}
