.nav-container {
    display: flex;
    background-color: var(--dark-blue);
    position: relative;
    width: 100%;
    height: 4rem;
}

.logo {
    margin-left: 1rem;
    width: 40%;
}

.hamburger {
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 4px;
    position: absolute;
    right: 1rem;
    top: 1rem;
    z-index: 100;
}

.close-icon {
    display: none;
}

.menu {
    align-items: center;
    background: var(--dark-blue);
    color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    list-style: none;
    padding-top: 4rem;
    position: absolute;
    right: 0;
    transform: translateY(-200%);
    transition: transform 0.8s;
    top: 4rem;
    z-index: 99;
    height: calc(90vh - 4rem);
    width: 100vw;
}

.menu-item {
    color: var(--white);
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
}

hr {
    border-width: 1px;
    border-style: solid;
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.show-menu {
    transform: translateY(0);
}

.menu-icon.material-icons {
    color: var(--white);
}

.close-icon.material-icons {
    color: var(--white);
}