.about-tittle {
    text-align: center;
}

.info-box {
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 4rem;
}

.info-box__header {
    background-color: var(--dark-blue);
    padding: 1rem 0;
    width: 100%;
}

.info-box__tittle {
    font-size: 2 rem;
    font-weight: 700;
    font-family: var(--main-font);
    color: var(--white);
    cursor: pointer;
}

.info-box__content {
    background-color: var(--light-blue);
    color: var(--gray);
    font-size: 1.25rem;
    font-weight: 500;
    font-family: var(--main-font);
    width: 100%;
    padding: 1rem 0;
}

.info-box__btn {
    float: right;
    right: 0;
    background-color: transparent;
    color: var(--white);
}

.proibidos {
    list-style: none;
}

.atention {
    color: red;
    font-weight: 700;
}