.faq {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.faq-title {
    color: var(--gray);
    font-size: 2rem;
    font-weight: 400;
    font-family: var(--second-font);
    line-height: 2.3;
    margin: 3rem 0 1.5rem 0;
    text-align: center;
}

.faq-list {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 86.5%;
}

.faq-question {
    align-items: center;
    background-color: var(--dark-blue);
    color: var(--white);
    cursor: pointer;
    display: flex;
    display: flex;
    flex-direction: row;
    font-family: var(--main-font);
    font-size: 1.8rem;
    font-weight: 700;
    height: auto;
    justify-content: space-between;
    justify-content: space-between;
    line-height: 2.3rem;
    margin-top: .5rem;
    margin-bottom: 0.063rem;
    padding: .5rem;
    width: 100%;
}

.faq-question::after {
    background: url(../assets/arrow_drop_down_circle_white_24dp.svg) no-repeat center center;
    content: "";
    display: block;
    fill: var(--white);
    height: 2rem;
    transform: rotate(180deg);
    width: 2rem;
}

.faq-question.active {
    background-color: var(--blue);
}

.faq-question.active::after {
    transform: rotate(0deg);
}

.faq-answer {
    background-color: var(--light-blue);
    color: var(--gray);
    font-family: var(--main-font);
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.55rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s cubic-bezier(0.5, 0, 0.1, 1);
    width: 100%;
}

.faq-answer > div {
    padding: 2rem;
}

.faq-answer.active {
    max-height: none;
}

.faq-answer--list {
    list-style: none;
}

@media screen and (min-width: 768px) {
    .info-banner-container {
        height: 23.813rem;
    }
}

@media screen and (min-width: 1440px) {
    .info-banner-container {
        height: 25.438rem;
    }
}