.about-tittle {
    margin: 3rem auto;
    text-align: center;
}

.accordion{
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    margin-top: 1.25rem;
	transform: translateZ(0);
    width: 90vw;
}

.accordion-toggle{
	display: none;
	opacity: 0;
	position: absolute;
}

.acc-list {
    color: var(--gray);
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 1.10rem;
    list-style: none;
    padding: 1rem;
}

.accordion > label{
    background-color: var(--dark-blue);
	cursor: pointer;
    color: var(--white);
	display: block;
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 1.5rem;
	position: relative;
	padding: 1rem;
}

.accordion > label:after {
    content: '\e5cf';
    position: absolute;
    right: 16px;
    top: calc(4.25rem/2);
    font-family: var(--material-icons);
    transform: rotate(0deg);
    transition: .3s transform;
}

.accordion > section{
    background-color: var(--light-blue);
	height: 0;
	overflow: hidden;
	transition: .3s all;
}

.accordion > .accordion-toggle:checked ~ label:after{
    transform: rotate(180deg);
}

.accordion > .accordion-toggle:checked ~ section{
    height: auto;
}

.accordion > section p {
    color: var(--gray);
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 1.10rem;
    padding: 1rem;
}
