@media screen and (min-width: 768px) {
    .nav-container {
        align-items: center;
        flex-direction: column;
        height: 12.5rem;
        justify-content: center;
    }
    
    .hamburger {
        display: none;
    }

    .menu {
        flex-direction: row;
        font-size: 1.25rem;
        height: auto;
        margin-top: 2rem;
        position: static;
        padding-top: 0;
        transform: none;
        top: 0;
        width: 100%;
    }

    .menu > hr {
        display: none;
    }

    .bands-container {
        margin-top: 3rem;
        margin-bottom: 3rem;
        padding: 3.70rem;
        display: flex;
        align-items: center;
    }
    
    .band-list {
        display: flex;
        flex-wrap: wrap;
    }
    
    .band-item {
        margin-bottom: 0;
        padding: 1rem;
        flex-grow: 1;
    }

    .band-item:first-child {
        flex-basis: 100%;
    }

    .band-item:nth-child(2n) {
        margin-top: 0
    }

}