@media screen and (min-width: 768px) {
    .nav-container {
        align-items: center;
        flex-direction: column;
        height: 12.5rem;
        justify-content: center;
    }
    
    .hamburger {
        display: none;
    }

    .menu {
        flex-direction: row;
        font-size: 1.25rem;
        height: auto;
        position: sticky;
        padding-top: 0;
        padding-bottom: 0;
        transform: none;
        top: 0;
        width: 100%;
    }

    .menu > hr {
        display: none;
    }

    .home-banner-container,
    .xp-banner-container,
    .sector-banner-container,
    .ingresso-banner-container,
    .info-banner-container,
    .confirma-ingresso-banner-container {
        height: 23.813rem;
    }


    .bands-container {
        margin-top: 3rem;
        margin-bottom: 3rem;
        padding: 3.70rem;
        display: flex;
        align-items: center;
    }
    
    .band-list {
        display: flex;
        flex-wrap: wrap;
    }
    
    .band-item {
        margin-bottom: 0;
        padding: 1rem;
        flex-grow: 1;
    }

    .band-item:first-child {
        flex-basis: 100%;
    }

    .band-item:nth-child(2n) {
        margin-top: 0
    }

    .about-img,
    .xp-img-1,
    .xp-img-2,
    .xp-img-3 {
        aspect-ratio: 1.31/1;
        border-radius: 10px;
        margin-top: 2rem;
        object-fit:cover;
        width: 95%;
    }

    .lineup__bottom-img {
        aspect-ratio: 2.27/1;
    }

    .about-description {
        margin: 0 2.25rem;
    }

    .about-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .list-map {
        padding-left: 3rem;
    }

    .form-container {
        margin: 0 3.75rem 0 3.75rem;
    }

    .data-box {
        width: 50%;
    }

    .buy-btn {
        width: 40%;
    }

    .footer {
        justify-content: space-around;
        padding: 1.5rem 6.75rem;
    }

    .footer-item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}
